@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
     .clip-path-choose {
          clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 75%, 0% 85%);
     }

<<<<<<< HEAD
  @media (min-width: 768px) {
    .clip-path-footer {
      clip-path: polygon(0 0, 30% 10%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media (max-width: 767px) {
    .clip-path-footer {
      clip-path: none;
    }
  }
}
=======
     .clip-path-footer {
          clip-path: polygon(0 0, 30% 10%, 100% 0, 100% 100%, 0% 100%);
     }
}

.effect {
     background: rgba(6, 182, 212, 0.65);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
}
>>>>>>> master
