@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-choose {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 75%, 0% 85%);
  }

  @media (min-width: 768px) {
    .clip-path-footer {
      clip-path: polygon(0 0, 30% 10%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media (max-width: 767px) {
    .clip-path-footer {
      clip-path: none;
    }
  }
}